includes:
    - phpstan-baseline.neon

parameters:

    level: 8

    paths:
        - src

    bootstrapFiles:
        - vendor/pimcore/pimcore/stubs/dynamic-constants.php

    checkGenericClassInNonGenericObjectType: false

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

    # If you're using PHP config files for Symfony 5.3+, you also need this for auto-loading of `Symfony\Config`:
    #scanDirectories:
    #    - var/cache/dev/Symfony/Config

