parameters:
	ignoreErrors:
		-
			message: "#^Argument of an invalid type array\\|bool\\|float\\|int\\|string\\|null supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/DependencyInjection/NeustaPimcoreTranslationMigrationExtension.php

		-
			message: "#^Binary operation \"\\.\" between array\\|bool\\|float\\|int\\|string\\|null and '/Resources…' results in an error\\.$#"
			count: 1
			path: src/DependencyInjection/NeustaPimcoreTranslationMigrationExtension.php

		-
			message: "#^Binary operation \"\\.\" between array\\|bool\\|float\\|int\\|string\\|null and '/translations' results in an error\\.$#"
			count: 1
			path: src/DependencyInjection/NeustaPimcoreTranslationMigrationExtension.php

		-
			message: "#^Method Neusta\\\\Pimcore\\\\TranslationMigrationBundle\\\\DependencyInjection\\\\NeustaPimcoreTranslationMigrationExtension\\:\\:getTranslationFileDirectories\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/NeustaPimcoreTranslationMigrationExtension.php
